<div class="header-container">
    <h1 class="logo">The Treasure Trove</h1>
    <h4 class="motto">"Discover hidden gems"</h4>
</div>
<div class="dropdown">
    <p>Account</p>
    <div class="dropdown-content">
        <a href="login.html">Login</a>
    </div>
</div>