<div class="card big">
    <img src=<%=`resources/images/${id}.jpg` %> alt=id>
    <p class="info">
        <%=title%>
    </p>
    <button class="price">
        <%=`Buy now for ${price}`%>
    </button>
</div>