<ul class="links">
    <li>
        <a href="main.html">Main Page</a>
    </li>
    <li>
        <a href="discover.html">Discover</a>
    </li>
    <li>
        <a href="info.html">Questions</a>
    </li>
</ul>